/* Ink reveal effect */
.ink-mask {
  color: #f4f1f0; /* fallback color */
  background: #f4f1f0; /* fill color of the text */
  -webkit-mask-image: url("/ink.gif");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  mask-image: url("/ink.gif");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  -webkit-text-fill-color: transparent; /* ensures background shows through */
}
